@{
    ViewData["Title"] = "Race";
    Rat.Rat winner = ViewData["Winner"] as Rat.Rat;
}

<h1>@ViewData["Title"]</h1>

<p>RaceReport:</p>
<p>@ViewData["RaceReport"]</p>

<p>Winner Rat:</p>
<p>@winner.Name</p>